<% content_for :title, "#{@post.title} - 詳細" %>

<h1><%= @post.title %></h1>
<p>カテゴリー: <%= @post.category %></p>
<p>ジャンル: <%= @post.genre %></p>

<% if @post.image.attached? %>
  <%= image_tag @post.image.variant(resize_to_limit: [200, 200]), alt: "投稿画像" %>
<% else %>
  <%= image_tag 'book_01_brown.png', size: "200x200", alt: "デフォルト画像" %>
<% end %>

<p><%= @post.body %></p>

<!-- いいねボタン -->
<% if current_user.voted_for?(@post) %>
  <%= button_to 'いいねを取り消す', unlike_post_path(@post), method: :delete, class: 'btn' %>
<% else %>
  <%= button_to 'いいね', like_post_path(@post), method: :post, class: 'btn' %>
<% end %>
<p>いいね数: <%= @post.get_likes.size %></p>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <p><strong><%= comment.user.name %></strong>: <%= comment.body %></p>
      <p><small>投稿日: <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></small></p>
    </li>
  <% end %>
</ul>
<%= link_to '戻る', bookshelf_path(@user) %>
