<div class="container mt-5">
  <h1 class="mb-4 text-center">新しい投稿</h1>

  <%= form_with model: @plaza_post, local: true, class: "needs-validation" do |form| %>
    <div class="mb-3">
      <%= form.label :title, 'タイトル', class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control', placeholder: 'タイトルを入力してください' %>
    </div>

    <div class="mb-3">
      <%= form.label :content, '内容を入力してください', class: 'form-label' %>
      <%= form.text_area :content, class: 'form-control', rows: 5, placeholder: '投稿内容を入力してください' %>
    </div>

    <div class="text-center gap-2">
      <%= form.submit '投稿する', class: 'btn btn-success' %>
      <%= link_to 'みんなの広場に戻る', plaza_posts_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
    <div class="parent ms-auto" style="max-width: 250px;">
      <%= image_tag "pen.png", alt: "Pen", class: "w-100" %>
    </div>
</div>
