<h2><%= @plaza_post.title %></h2>
<p><%= @plaza_post.content %></p>
<p>投稿者: <%= @plaza_post.user.name %> | <%= l(@plaza_post.created_at, format: :long) %></p>
<% if @plaza_post.user == current_user %>
  <%= link_to '編集', edit_plaza_post_path(@plaza_post), class: 'btn btn-primary' %>
  <%= link_to '削除', plaza_post_path(@plaza_post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
<% end %>
<p><%= link_to 'みんなの広場に戻る', plaza_posts_path, class: 'btn' %></p>
