<% content_for :title, "思い出の図書館 - ログイン" %>

<div class="container mt-5">
  <h2 class="mb-4 text-center">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "needs-validation" }) do |f| %>
    <div class="mb-3">
      <%= f.label :email, "メールアドレス", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "例: example@example.com" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, "パスワード", class: "form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "********" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-3 form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, "ログイン情報を記憶する", class: "form-check-label" %>
      </div>
    <% end %>

    <div class="d-flex justify-content-between align-items-center">
      <%= f.submit "ログイン", class: "btn btn-success" %>
      <%= link_to "ホームに戻る", root_path, class: "btn btn-secondary" %>
    </div>
  <% end %>

  <div class="text-center mt-3">
    <%= render "devise/shared/links" %>
  </div>
  <div class="parent" style="max-width: 250px;">
    <%= image_tag "bird.png", alt: "Bird", class: "w-100" %>
  </div>
</div>
