<h1>新しい投稿を作成</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> が発生しました:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :category, 'カテゴリー' %>
    <%= form.select :category, [['映画', '映画'], ['アニメ', 'アニメ'], ['漫画', '漫画'], ['本', '本']], prompt: 'カテゴリーを選択' %>
  </div>

  <div>
    <%= form.label :body, '内容' %>
    <%= form.text_area :body %>
  </div>

    <div>
    <%= form.label :image, '画像' %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit '投稿する' %>
  </div>
<% end %>
