<% content_for :title, "投稿詳細 - #{@post.title}" %>

<h1><%= @post.title %></h1>

<% if @post.image.attached? %>
  <%= image_tag @post.image.variant(resize_to_limit: [200, 200]), alt: "投稿画像", class: "post-image" %>
<% else %>
  <%= image_tag 'book_01_brown.png', size: "200x200", alt: "デフォルト画像", class: "post-image" %>
<% end %>

<p><%= @post.body %></p>

<p>状態: <strong><%= @post.public ? '公開中' : '非公開中' %></strong></p>
<p><%= link_to '戻る', posts_path %></p>
