<!DOCTYPE html>
<html>
  <head>
  <title><%= content_for?(:title) ? yield(:title) : "思い出の図書館" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'rails-ujs' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/application.css">
  </head>

<body>
  <!-- ナビゲーションバー -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <% if user_signed_in? %>
        <%= link_to '思い出の図書館', user_path(current_user), class: "navbar-brand" %>
      <% else %>
        <%= link_to '思い出の図書館', root_path, class: "navbar-brand" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "ログイン設定", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "本当にログアウトしますか？", turbo: false }, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'プロフィール', profile_path(current_user), class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link" %>
            </li>
          <% end %>

          <% if user_signed_in? && @user.present? %>
            <li class="nav-item">
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image.variant(resize_to_limit: [50, 50]), class: "rounded-circle ms-2", alt: "Profile Image" %>
              <% else %>
                <%= image_tag 'default_profile_image.png', size: '50x50', class: "rounded-circle ms-2", alt: "Default Profile Image" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <%= yield %>
    <p class="notice text-success"><%= notice %></p>
    <p class="alert text-danger"><%= alert %></p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
